.blogcard:link,
.blogcard:visited,
.blogcard:hover,
.blogcard:active {
  text-decoration: none !important;
}

.contentcardlist {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 1rem;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .contentcardlist {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.contentcard {
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 2fr;

  background-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0px;
  text-decoration: none !important;
  border-radius: 20px 20px 20px 20px;
}

.contentcard.featured {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.contentcard .image {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: span 3;

  border-radius: 20px 20px 20px 20px;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentcard .content {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: span 1;

  padding-left: 10px;
  padding-right: 10px;

  color: rgb(162, 162, 162);
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.6);
}

.contentcard .content .title {
}

.contentcard .content .teaser {
}

.contentcard .content .tc-subtitle {
  padding-top: 20px;
}

/* taglist */
.contentcard .content .taglist {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  grid-gap: 10px;
}

.contentcard .content .taglist .tc-tag-list-item {
  margin-top: auto;
  margin-bottom: auto;
}
/*
.blogcard > p > .content > h2 {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.25);
}

.blogcard > p > .content > p > div {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.25);
}
*/
.featureband {
  display: none;
}

.featureband.featured {
  /* adjust the below to control the shape */
  --d: 5px;
  --g: 16px;
  --c: #333;
  /**/

  display: unset;
  z-index: 2;

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(29.29%, -100%) rotate(45deg); /* 29.29% = 100%*(1 - cos(45deg)) */
  color: #fff;
  text-align: center;
  width: 100px;
  transform-origin: bottom left;
  padding: 5px 0 calc(var(--d) + 5px);
  background: linear-gradient(
        135deg,
        transparent var(--g),
        var(--c) calc(var(--g) - 0.3px)
      )
      left,
    linear-gradient(
        -135deg,
        transparent var(--g),
        var(--c) calc(var(--g) - 0.3px)
      )
      right;
  background-size: 51% 100%;
  background-repeat: no-repeat;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    calc(100% - var(--d)) calc(100% - var(--d)),
    var(--d) calc(100% - var(--d)),
    0 100%
  );
}
