.tc-body {
  background: rgb(241, 239, 229);
}

.tc-tiddlylink {
  color: #4b8b9b;
}

.tc-topbar-right {
  background: rgb(42, 42, 38);
  fill: rgba(255, 249, 223, 0.5);
}

.tc-sidebar-scrollable {
  background: rgb(42, 42, 38);
}

.tc-drafts-list {
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.25);
}

.tc-site-title {
  color: #dfd9c3;
}

.tc-site-subtitle {
  color: #dfd9c3;
}

/* Buttons */
.tc-sidebar-scrollable .tc-reveal,
.tc-sidebar-scrollable .tc-btn-text,
.tc-sidebar-scrollable .tc-btn-invisible,
.tc-sidebar-scrollable .tc-image-button {
  color: rgba(255, 249, 223, 0.5);
  fill: rgba(255, 249, 223, 0.5);
}

.tc-sidebar-scrollable .tc-btn-invisible > svg {
  fill: rgba(255, 249, 223, 0.5);
}

button:hover,
.tc-btn-invisible > svg:hover {
  fill: rgba(0, 162, 255, 0.54);
}

/* Tabs */

/* Tabs - Sidebar*/
.tc-sidebar-scrollable .tc-tab-buttons {
  border-bottom: 1px solid rgba(161, 161, 161, 0.54);
}

.tc-sidebar-scrollable .tc-tab-buttons button {
  color: rgba(255, 249, 223, 0.5);
  border-left: 1px solid rgba(161, 161, 161, 0.54);
  border-top: 1px solid rgba(161, 161, 161, 0.54);
  border-right: 1px solid rgba(161, 161, 161, 0.54);
}

.tc-sidebar-scrollable .tc-tab-buttons button.tc-tab-selected {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(161, 161, 161, 0.54);
  border-top: 1px solid rgba(161, 161, 161, 0.54);
  border-right: 1px solid rgba(161, 161, 161, 0.54);
}

/* Tabs - Main*/
.tc-tiddler-body .tc-tab-buttons {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.tc-tiddler-body .tc-tab-buttons button {
  color: rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(59, 59, 59, 0.54);
  border-top: 1px solid rgba(59, 59, 59, 0.54);
  border-right: 1px solid rgba(59, 59, 59, 0.54);
}

.tc-tiddler-body .tc-tab-buttons button.tc-tab-selected {
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(132, 122, 69, 0.25);
  border-left: 1px solid rgba(59, 59, 59, 0.54);
  border-top: 1px solid rgba(59, 59, 59, 0.54);
  border-right: 1px solid rgba(59, 59, 59, 0.54);
}
