.tc-story-river {
  grid-area: main;

  align-self: self-start;
  overflow-y: auto; /* scrolling */
  height: calc(100%);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-auto-flow: row;
  grid-gap: 1rem;
}

.tc-tiddler-frame {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

/* title-bar - non-edit */
.tc-titlebar {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 1fr;
}

/* title-bar - non-edit - buttons */
.tc-titlebar > .tc-tiddler-controls {
  grid-row-start: 1;
  justify-self: end;

  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  grid-column-start: 3;
}

/*
.tc-tiddler-controls > button:nth-child(1),
.tc-image-edit-button {
  opacity: 0;
  transition: opacity 1s;
}
.tc-tiddler-controls > button:nth-child(1):hover,
.tc-image-edit-button:hover {
  opacity: 1;
}
*/

/* title-bar - edit */
.tc-tiddler-title.tc-tiddler-edit-title {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 30px;
}

/* title-bar - edit - actions */
.tc-tiddler-controls.tc-titlebar {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-template-rows: 1fr;
}

.tc-popup {
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.25);
}

/* Images */
.tc-tiddler-body > img,
.tc-tiddler-body > p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Workplace-Frame */
.ongoing {
  position: relative;
  overflow: hidden;
  padding: 15px 0;
  box-sizing: border-box;
  &::before {
    content: "";
    display: block;
    background: linear-gradient(
      90deg,
      #1e5799 30%,
      transparent 30%,
      transparent 75%,
      #1e5799 75%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: 40px;
    position: absolute;
    top: -1000px;
    left: -50px;
    bottom: -1000px;
    right: -50px;
    transform: rotate(45deg);
  }
  .content {
    background: #1e5799;
    height: 300px;
  }
}


/* The Editor */
.tc-edit-texteditor {
  width: 100%;
}

/* Buttons */
svg * {
  transition: all 1s;
}

button,
.tc-btn-invisible,
.tc-remove-tag-button {
  border: none;
  background: none;
  cursor: pointer;
}

.tc-btn-mini > svg {
  width: 20px;
}

/* images */
img {
  max-width: 100%;
}

/* Popups */
.tc-block-dropdown {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1rem;
  align-items: center;

  position: absolute;
  padding: 10px;
  width: 60%;

  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.25);
}

/* tags */
.tc-tags-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-gap: 10px;
  align-items: center;
}

.tc-tag-label {
  display: block;
  /*width: 100%;*/
  height: 100%;

  text-align: center;
  border-radius: 40px;
  padding: 5px;

  background-color: grey;
}

.tc-tag-label svg {
  width: 15px;
  height: 15px;
}

/* List of plugins */
.tc-plugin-info {
  display: grid;
  grid-template-columns: min-content;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
}
