:root {
  --app-height: 100%;
}

.tc-body {
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  width: 100vw;
  height: var(--app-height);
}

.tc-dropzone {
  display: grid;
  grid-template-columns: min-content 4fr 2fr;
  grid-template-rows: fit-content(50px) 1fr fit-content(150px);
  grid-template-areas:
    "topbarL     topbarC   topbarR"
    "menu        main      main";
}

.tc-topbar-left {
  grid-area: topbarR;
}

.tc-alerts {
  grid-area: topbarC;
}

.tc-topbar-right {
  z-index: 2;

  grid-area: topbarL;
  display: grid;
  justify-items: end;
}

.tc-sidebar-scrollable {
  height: calc(100vh);
  padding-left: 20px;
  padding-right: 20px;
  top: 0px;
  bottom: 0px;
  position: sticky;
}

/* drafts-list */
.tc-drafts-list {
  position: fixed;
  bottom: 0px;
  left: 0px;

  margin: 10px;
  padding: 10px;
}

/* search popup
.tc-block-dropdown-wrapper.tc-reveal {

}
 */
