.tc-dropzone > .tc-sidebar-scrollable {
  grid-area: menu;
  /*  position: fixed; */
}

/* title */
.tc-site-title {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;

  clear: both;
  text-align: center;
  margin-top: 65px;
}

.tc-site-subtitle {
  clear: both;
  text-align: center;
}

/* searchbar */
.tc-search {
  display: grid;
  justify-items: center;
  grid-template-columns: min-content;
  grid-auto-flow: column;
  align-items: center;
}

.tc-search .tc-reveal {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
}

/* The "show"-"hide" button of the menu */
.tc-topbar.tc-topbar-right > button:nth-child(1) {
  position: fixed;
  top: 0px;
}


.tc-sidebar-header > div:nth-child(1)[hidden] {
  grid-area: undefined;
}

.tc-page-controls {
  align-items: start;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-gap: 1rem;
}

.tc-sidebar-header > div:nth-child(1):not([hidden="true"]) {
  align-items: start;
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
}

/* language buttons */
.tc-image-button > .tc-image-loaded {
  width: 50px;
}

.tc-sidebar-tab-open-item > div:nth-child(1) > div:nth-child(2) {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr;
}
