.tc-tab-buttons button {
  padding: 3px 5px 3px 5px;
  margin-right: 0.3em;
  font-weight: normal;
  border: none;
  border-top-width: medium;
  border-top-style: none;
  border-top-color: currentcolor;
  border-right-width: medium;
  border-right-style: none;
  border-right-color: currentcolor;
  border-left-width: medium;
  border-left-style: none;
  border-left-color: currentcolor;
  background: inherit;
  background-color: inherit;
  background-color: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.tc-tab-buttons button.tc-tab-selected {
  margin-left: 10px;
  margin-right: 10px;
}
